--
-- PostgreSQL database dump
--

-- Dumped from database version 17.1 (Debian 17.1-1.pgdg120+1)
-- Dumped by pg_dump version 17.1 (Debian 17.1-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.customer (
    customer_id integer NOT NULL,
    name character varying(100) NOT NULL,
    phone character varying(20) NOT NULL
);


ALTER TABLE public.customer OWNER TO admin;

--
-- Name: menuitem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.menuitem (
    item_id integer NOT NULL,
    name character varying(255) NOT NULL,
    category character varying(50) NOT NULL,
    price numeric(10,2) NOT NULL,
    availability boolean NOT NULL,
    CONSTRAINT menuitem_price_check CHECK ((price >= (0)::numeric))
);


ALTER TABLE public.menuitem OWNER TO admin;

--
-- Name: orderitem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orderitem (
    order_item_id integer NOT NULL,
    quantity integer NOT NULL,
    order_id integer NOT NULL,
    item_id integer NOT NULL,
    CONSTRAINT orderitem_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.orderitem OWNER TO admin;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orders (
    order_id integer NOT NULL,
    order_time time without time zone NOT NULL,
    status character varying(20) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    table_id integer NOT NULL,
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'preparing'::character varying, 'served'::character varying, 'cancelled'::character varying])::text[]))),
    CONSTRAINT orders_total_price_check CHECK ((total_price >= (0)::numeric))
);


ALTER TABLE public.orders OWNER TO admin;

--
-- Name: reservation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservation (
    reservation_id integer NOT NULL,
    date date NOT NULL,
    "time" time without time zone NOT NULL,
    number_of_guests integer NOT NULL,
    customer_id integer NOT NULL,
    table_id integer NOT NULL,
    CONSTRAINT reservation_number_of_guests_check CHECK ((number_of_guests > 0))
);


ALTER TABLE public.reservation OWNER TO admin;

--
-- Name: restauranttable; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.restauranttable (
    table_id integer NOT NULL,
    capacity integer NOT NULL,
    status character varying(20) NOT NULL,
    CONSTRAINT restauranttable_capacity_check CHECK ((capacity > 0)),
    CONSTRAINT restauranttable_status_check CHECK (((status)::text = ANY ((ARRAY['available'::character varying, 'reserved'::character varying, 'occupied'::character varying])::text[])))
);


ALTER TABLE public.restauranttable OWNER TO admin;

--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: menuitem; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: orderitem; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.orderitem (order_item_id, quantity, order_id, item_id) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: reservation; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: restauranttable; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: customer customer_phone_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_phone_key UNIQUE (phone);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (customer_id);


--
-- Name: menuitem menuitem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.menuitem
    ADD CONSTRAINT menuitem_pkey PRIMARY KEY (item_id);


--
-- Name: orderitem orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderitem
    ADD CONSTRAINT orderitem_pkey PRIMARY KEY (order_item_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: reservation reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_pkey PRIMARY KEY (reservation_id);


--
-- Name: restauranttable restauranttable_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.restauranttable
    ADD CONSTRAINT restauranttable_pkey PRIMARY KEY (table_id);


--
-- Name: orderitem orderitem_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderitem
    ADD CONSTRAINT orderitem_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menuitem(item_id);


--
-- Name: orderitem orderitem_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderitem
    ADD CONSTRAINT orderitem_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: orders orders_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.restauranttable(table_id);


--
-- Name: reservation reservation_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(customer_id);


--
-- Name: reservation reservation_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.restauranttable(table_id);


--
-- PostgreSQL database dump complete
--

